[Unit]
Description=rpi sense hat system monitor
After=rpi-eeprom-update.service
SyslogIdentifier=rpi-sys-monitor
                                        
[Service]
Type=simple
ExecStart=/usr/local/bin/rpi-sys-monitor
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
